/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #2c3e50;
}

/* Navigation Links */
#link-div{
margin-left: 60px;
}

.link {
    margin-left: 5px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color: #2980b9;
    /*color: #2980b9;*/
}

/* Table Styles */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ecf0f1;
}

/* Actions Column */
td a {
    margin: 5px;
    /*padding: 5px 10px;*/
    /*background-color: #e74c3c;*/
    color: #3498db;
    text-decoration: none;
    border-radius: 5px;
}

td a:hover {
    /*background-color: #c0392b;*/
    color: #c0392b;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 12px;
    }

    a {
        font-size: 14px;
        padding: 8px;
    }
}
