<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Stock List</title>
    <link href="{% static 'css/stock_list.css' %}" rel="stylesheet">
</head>
<body>
    <h2>Stock Items</h2>
    <div id="link-div">
    <a class="link" href="{% url 'stock-add' %}">Add New Item</a>
    <a class="link" href="{% url 'upload-excel' %}">Upload Excel</a>
    <a class="link" href="{% url 'download-excel' %}">Download Excel</a>
        </div>
    <table border="1" id="table">
        <tr style="color: blue;">
            <th>S.No</th>
            <th>Medicine</th>
            <th>Scope Quantity</th>
            <th>Available Quantity</th>
            <th>Net Consumed</th>
            <th>Week 1</th>
            <th>Week 2</th>
            <th>Week 3</th>
            <th>Week 4</th>
            <th>Week 5</th>
<!--            <th>Total</th>-->
            <th>Actions</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ stock.medicine }}</td>
            <td>{{ stock.scope_quantity }}</td>
            <td>{{ stock.available_quantity }}</td>
            <td>{{ stock.net_consumed }}</td>
            <td>{{ stock.week1 }}</td>
            <td>{{ stock.week2 }}</td>
            <td>{{ stock.week3 }}</td>
            <td>{{ stock.week4 }}</td>
            <td>{{ stock.week5 }}</td>
<!--            <td>{{ stock.total }}</td>-->
            <td>
                <a href="{% url 'stock-edit' stock.id %}">Edit</a>
                <a href="{% url 'stock-delete' stock.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
